# Ignorar la carpeta de paquetes de Node
node_modules/

# Ignorar el archivo de variables de entorno (secretos)
.env

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpeta de producción del frontend (la crearemos más adelante)
build/
dist/